{
   "semi": true,
   "singleQuote": false,
   "jsxSingleQuote": false,
   "bracketSpacing": true,
   "trailingComma": "es5",
   "tabWidth": 3,
   "printWidth": 140,
   "arrowParens": "always",
   "endOfLine": "auto"
}
